{% extends "basic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="card px-1 py-4 p-3 mb-2 bg-light text-dark">
           <div class="card-title">
                <h4 class="alert-heading text-center">Login</h4>
            </div>
            <hr>
            <div class="card-body">
            {% if form.errors %}
                <div class="alert alert-danger">Your username and password didn't match. Please try again.</div>
            {% endif %}
            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}
            {% for field in form %}
                <div class="row m-1 mb-0">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                {{ field|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div class="row m-1 mb-0">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Login" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </div>
                </div>
                <div class="row m-1 mb-0">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <a href="{% url 'sign_in' %}">Doesn`t have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}