{% extends "basic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5 mb-5 d-flex justify-content-center">
    <form method="post">
        <div class="card px-1 py-4 p-3 mb-2 bg-light text-dark">
            <div class="card-title">
                <h4 class="alert-heading text-center">Sign in</h4>
            </div>
            <hr>
            <div class="card-body">
            {% csrf_token %}
            {% for field in form %}
                <div class="row m-1 mb-0">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                {{ field|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
                <div class="row m-1 mb-0">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="submit" class="btn btn-success m-1">Sign in</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-1 mb-0">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <a href="{% url 'login' %}">You already have an account?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}