<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Vst library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'customer-list' %}">
                    Производители
                </a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">
                    Категории
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <!--user account link-->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-bell">
                        <span class="badge badge-info"></span>
                    </i>
                    {{ user.email }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next=/">
                    <i class="fa fa-globe">
                        <span class="badge badge-success"></span>
                    </i>
                    Logout
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'sign_in' %}">
                    Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    Login
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
