{% extends 'basic.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="card px-1 py-4 p-3 mb-2 bg-light text-black">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <h3 class="font-weight-bold">{{ category.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="font-weight-bold">Продукты данной категории</p>
                <hr>
            </div>
        </div>
        {% if products %}
            <div class="row justify-content-center">
            {% for product in products %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-7  text-center">
                    <a href="{% url 'product-detail' product.id %}">
                        <img class="rounded" src="{{ product.image.product_image.url }}" alt=""/>
                    </a>
                    <div class="p-0">
                        {{ product.title }}
                    </div>
                    <span class="badge badge-primary">
                        <a class="text-white" href="{% url 'customer-detail' product.customer.id %}">
                            {{ product.customer.title }}
                        </a>
                    </span>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}