{% extends 'basic.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    {% for category in object_list %}
        {% if forloop.counter0|divisibleby:col_per_row %}
            <div class="row justify-content-center">
        {% endif %}
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="card p-3 m-1">
                <div class="row">
                    <div class="col">
                        <a href="{% url 'category-detail' category.id %}">
                            <p class="text-dark" style="word-wrap:break-word;">
                                {{ category.title }}
                            </p>
                        </a>
                    </div>
                    <div class="col">
                        <span class="badge badge-pill badge-dark float-right">{{ category.products|length }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter0|add:"+1"|divisibleby:col_per_row %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}