{% extends 'basic.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="card px-1 py-4 p-3 mb-2 bg-light text-black">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="card-title">
                    <img class="rounded" src="{{ customer.logo.customer_logo.url }}" alt=""/>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7">
                <div class="card-body p-0">
                    {{ customer.description }}
                    <p><a href="{{ customer.site_url }}">Ссылка: {{ customer.site_url }}</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="font-weight-bold">Продукты производителя</p>
                <hr>
            </div>
        </div>
        {% if products %}
            <div class="row justify-content-center">
            {% for product in products %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-7  text-center">
                    <a href="{% url 'product-detail' product.id %}">
                        <img class="rounded" src="{{ product.image.product_image.url }}" alt=""/>
                    </a>
                    <div class="p-0">
                        {{ product.title }}
                    </div>
                    <span class="badge badge-info">
                        <a class="text-white" href="{% url 'category-detail' product.category.id %}">
                            {{ product.category.title}}
                        </a>
                    </span>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}