{% extends 'basic.html' %}

{% load thumbnail %}

{% block content %}
<div class="container mt-5 mb-5">
    {% for customer in object_list %}
        {% if forloop.counter0|divisibleby:col_per_row %}
            <div class="row justify-content-center">
        {% endif %}
        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6">
            <div class="card p-2 m-1 text-center">
                <div class="card-title mt-5">
                    <a href="{% url 'customer-detail' customer.id %}">
                        <img class="rounded mx-auto" src="{{ customer.logo.customer_logo.url }}"  alt="" />
                    </a>
                </div>
                <div class="card-body">
                    <p class="text-dark" style="word-wrap:break-word;">
                        {{ customer.title }}
                    </p>
                </div>
            </div>
        </div>
        {% if forloop.counter0|add:"+1"|divisibleby:col_per_row %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}