{% extends 'basic.html' %}

{% load thumbnail %}

{% block content %}
    {% for customer in customers %}
    <div class="container mt-5 mb-5">
        <div class="card px-1 py-4 p-3 mb-2 bg-light text-black">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="card-title">
                        <a href="{% url 'customer-detail' customer.id %}">
                            <img class="rounded" src="{{ customer.logo.customer_logo.url }}"  alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7">
                    <div class="card-body p-0">
                        {% if customer.description|length >= 300 %}
                            {{ customer.description|slice:":300" }}...
                        {% else %}
                            {{ customer.description }}
                        {% endif %}
                        <p><a href="{{ customer.site_url }}">Ссылка: {{ customer.site_url }}</a></p>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="badge">
                            <p>Просмотров: {{ customer.views }}</p>
                        </span>
                    </div>
                </div>
            {% if customer.products %}
                <div class="row">
                    <div class="col-sm-12">
                        <span class="badge">Категории продуктов у данного производителя:</span>
                        {% for product in customer.products %}
                            {% ifchanged %}
                            <span class="badge badge-info">
                                <a class="text-white" href="{% url 'category-detail' product.category.id %}">
                                    {{ product.category.title }}
                                </a>
                            </span>
                            {% endifchanged %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span class="badge">Продукты производителя:</span>
                        {% for product in customer.products %}
                            {% ifchanged %}
                                <span class="badge badge-primary">
                                    <a class="text-white" href="{% url 'product-detail' product.id %}">
                                        {{ product.title }}
                                    </a>
                                </span>
                            {% endifchanged %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}