{% extends 'basic.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="card px-1 py-4 p-3 mb-2 bg-light text-black">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="card-title">
                    <img class="rounded" src="{{ product.image.product_image.url }}" alt=""/>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-8 col-sm-7">
                <div class="card-body p-0">
                    {{ product.description }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}